<form action="/cart/add" enctype="multipart/form-data" id="AddToCartForm" method="post">
    {% if product.variants.size > 1 %}
        {% for variant in product.variants %}
            <input id="variant-{{ forloop.index }}" name="id" type="radio" value="{{ variant.id }}">
            <label for="variant-{{ forloop.index }}">{{ variant.title }}</label>
        {% endfor %}
        {% else %}
            <input type="hidden" name="id" value="{{ product.variants.first.id }}" >
    {% endif %}

    {{ current_variant.price | money }}
    <label for="Quantity">quantity</label>
    <input id="Quantity" min="1" name="quantity" type="number" value="1" min="1" {% if product.variants.size == 1 %} max="{{ product.variants.first.inventory.quantity }}" {% endif %}>


    <button class="minus" disabled type="button">&ndash;</button>
    <span class="quantity-text">1</span>
    <button class="plus" type="button">+</button>

    <button id="AddToCart" name="add" type="submit">Add to cart</button>
</form>