<div class="text-white js-cart-snippet-contents">
    {% if cart.item_count > 0 %}
        <p class="ta-center">{{ 'cart.filled.title' | t }}</p>
        <form action="/cart" method="post" novalidate>
            <div class="cart-lines">
                {% for item in cart.items %}
                    {% include 'line-item' %}
                {% endfor %}
            </div>
            <div class="subtotal-line flex-space-between">
                <p>{{ 'cart.filled.subtotal' | t }}</p>
                <span class="price">{{ cart.total_price | money }}</span>
            </div>
            <button name="checkout" type="submit">{{ 'cart.filled.button' | t }}</button>
        </form>
    {% else %}
        <p class="cart-empty-text ta-center">{{ 'cart.empty.title' | t }}</p>
        <a href="/"><button class="button" type="button">{{ 'cart.empty.button' | t }}</button></a>
    {% endif %}
</div>