<div class="product-card">
    <div class="card-inner grid collapse two-columns">
        <div class="card-info product-info-section text-white">

            <a class="product-title" href="{{ product.url }}">
                <h2>
                    {{ product.title }}
                    <span class="price accent-color">{{ product.price | money_without_trailing_zeros }}</span>
                </h2>
            </a>

            <div class="below-title">
                <p class="product-description">{{ product.description | strip_html | split: '.' | first | append: '.'}}</p>
                {% if product.variants.size > 1 %}
                    <span class="accent-color">{{ 'product.card.options' | t: optionCount: product.variants.size }}
                        &mdash;</span>
                {% endif %}

                {% if product.available %}
                    <a class="text-link spaced-caps" href="{{ product.url }}">{{ 'product.card.more_info' | t }}</a>
                {% else %}
                    {{ 'product.form.sold_out' | t }}
                {% endif %}
            </div>
        </div>

        <div class="card-image">
            <a href="{{ product.url }}">
                <img src="{{ product.featured_image.src | img_url: '1200x900', crop: 'center' }}" alt="{{ product.featured_image.alt | escape }}">
            </a>
        </div>
    </div>
</div>