{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}

<div class="page-product">
    <div class="product-info">
        <h1>
            {{ product.title }}
            <span class="price">{{ product.price | money_without_trailing_zeros }}</span>
        </h1>

        <div>{{ product.description }}</div>

        {% include 'add-to-cart-form' %}
    </div>

    {% for image in product.images %}
        <div class="product-image">
            <img src="{{ image.src | img_url: '600x600', crop: 'center' }}" alt="{{ image.alt | escape }}">
        </div>
    {% endfor %}
</div>